 .RightSidebar {
    position: fixed;
    right: 0;
    margin-right: 13%;
    bottom: 0;
    top: 0;
    width: 13vw;
    padding: 20px;
    background-color: #0D0D0D; /* Dark Purple */
    border-left: solid 1px #BF3617; /* TODO: Maybe remove */
 }

 .Logo img {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10%;
 }

 .Menu ul {
    list-style: none;
    padding: 0;
 }

 .Menu li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
 }

.Menu li:hover {
    color: #F2541B;
}

.Menu li a{
    text-decoration: none;
    color: inherit;
}

.Menu li .icon {
    margin-right: 10px;
}