html {
  background-color: #0d0d0d; /* Black */
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #BF3617; /* White */ 
}

/* Central deverá permanecer no meio, junto com os posts */
.Central {
  margin-left: 30%;
  margin-right: 30%;
  border: solid 1px #BF3617;
  position: relative;
}

.TopBar {
  position: sticky;
  top: 0;
  background-color: #0D0D0D;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BF3617;
}

.TopBarIcon {
  font-size: 1.5rem;
}

.TopBar button {
  background-color: transparent;
  color: #F2541B;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 3px;
}

.TopBar button:hover {
  background-color: #F2541B;
  color: #0D0D0D;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 1024px) {
  .Central {
    margin-left: 10%;
    margin-right: 10%;
  }

  .TopBarIcon {
    font-size: 1.2rem;
  }

  .TopBar button {
    font-size: 0.9rem;
    padding: 3px;
  }
}

@media (max-width: 768px) {
  .Central {
    margin-left: 5%;
    margin-right: 5%;
  }

  .TopBar button {
    font-size: 0.8rem;
  }

  .TopBarIcon {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .Central {
    margin-left: 0;
    margin-right: 0;
  }

  .TopBar {
    flex-direction: column;
  }

  .TopBar button {
    width: 100%;
    justify-content: center;
    padding: 10px;
    font-size: 0.8rem;
  }
}
